.dropdown-container {
  position: absolute;
  top: 55px;
  width: 100%;
}

/* Menu của dropdown */
.dropdown-menu {
  position: relative;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  z-index: 999;
  display: flex;
  justify-content: start;
  max-width: 1200px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 10px;
}

/* Các cột trong dropdown */
.dropdown-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto; /* Đảm bảo chiều rộng tự động theo nội dung */
  margin-right: 100px; /* Thêm khoảng cách giữa các cột */

}

.dropdown-column:last-child {
  margin-right: 0; /* Loại bỏ margin phải cho cột cuối cùng */
}

.dropdown-column.column-1 .dropdown-item {
  font-weight: 600;
  font-size: 20px;
}

/* Các item trong dropdown */
.dropdown-item, .dropdown-column-title {
  font-weight: 600;
  font-size: 13px;
  color: black; /* Màu chữ black */
  padding: 10px 0; /* Padding bên trong */
  text-decoration: none; /* Bỏ gạch chân */
  display: inline-block;
  width: auto; /* Đảm bảo chiều rộng tự động theo nội dung */
  box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước phần tử */

}

/* Hover effect cho các item */
.dropdown-item:hover {
  background-color: #f1f1f1; /* Background color khi hover */
}

/* Tiêu đề của cột */
.dropdown-column-title {
  font-weight: 400;
  color: #535353;
  display: inline-block;
  width: auto;
  /* white-space: nowrap; */
}
