/* Header Container */
.header {
  /* Positioning */
  position: fixed;
  z-index: 1000;
  /* Box Model */
  width: 100%;
  box-sizing: border-box;
  /* Visual */
  background-color: #ffffff;
}

/* Navigation Container */
.nav-container {
  /* Display & Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* Box Model */
  width: 100%;
  max-width: 1200px;
  z-index: 1000;
}

/* Navigation List */
.nav-list {
  /* Display & Flexbox */
  display: flex; /* Sử dụng flexbox để căn chỉnh các phần tử con theo hàng ngang */
  justify-content: space-between; /* Phân chia không gian đều giữa các phần tử con */
  align-items: center; /* Căn chỉnh các phần tử con theo trục dọc */

  /* Box Model */
  list-style: none; /* Loại bỏ các dấu đầu dòng của danh sách */
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Navigation Item */
.nav-item .nav-link {
  /* Display & Flexbox */
  display: flex;
  align-items: center;
}

/* Navigation Link */
.nav-link {
  /* Display & Flexbox */
  display: flex;
  align-items: center;

  /* Typography */
  text-decoration: none;
  color: #000000;
  font-size: 14px;

  /* Box Model */
  padding: 0 10px;
  height: 55px;
  line-height: 55px;
}

/* Menu Item */
.menu-item {
  display: contents;
}

/* Logo Image */
.logo-img {
  height: 26px;
}

/* Icon */
.icon {
  font-size: 22px !important;
  color: black;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 998; /* Đảm bảo overlay nằm dưới dropdown nhưng trên các phần tử khác */
  display: none;
}
